
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --blue: #71D1E5;
    --red: #FA5C1A;
    --gray: #DEEDED;
    --black: #000;
}

body{
    padding: 50px 0;
}

.container{
    width: 1200px;
    margin: auto;
}
@media(max-width: 1250px){
    .container{
        width: 95%;
    }
}

#nav{
    margin: 0 0 50px;
    background: var(--gray);
}

.levus-menu > ul{
    display: flex;
}
    .levus-menu ul li{
        display: block;
        position: relative;
        outline: 1px solid var(--gray);
    }
        .levus-menu ul li a{
            display: block;
            padding: 12px 10px;
            color: var(--black);
            background: var(--blue);
            text-decoration: none;
            width: 170px;
        }
        .levus-menu ul li a:hover{
            background: var(--red);
            color: var(--gray);
        }

/* елемент з випадаючими блоками меню */
        .levus-menu li.parent{
            /* overflow: hidden; */
        }
            .levus-menu li.parent > span{
                width: 44px;
                height: 42px;
                line-height: 42px;
                text-align: center;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
            }
/* хрестик */
            .levus-menu li.parent > span::after{
                content: '+';
                width: 44px;
                height: 42px;
                line-height: 42px;
                color: var(--black);
            }
            .levus-menu li.parent a{
                padding-right: 38px;
            }
            .levus-menu li.parent:hover::after{
                color: var(--gray);
            }

/* dropdown */
    .levus-menu ul li > ul{
        display: none;
    }
    .levus-menu ul li:hover > ul{
        display: block;
        position: absolute;
    }
        .levus-menu ul li li ul{
            display: none;
        }    
        .levus-menu ul li li:hover ul{
            position: absolute;
            right: -100%;
            top: 0;
        }

/* mobile */
.levus-menu-mobile{
    height: 38px;
    position: relative;
    cursor: pointer;
}
/* емуляція іконки меню */
    .levus-menu-mobile::after{
        content: '';
        position: absolute;
        top: 5px;
        right: 10px;
        width: 30px;
        height: 30px;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAAOElEQVRIie3TsQkAMAwDwSf7b+XBnCqQ1hC7yR+oFioEkhoEkM2JU7YGBt1yuE+/807SM95JUskGsVVPTkFzAfwAAAAASUVORK5CYII=');
    }

    .levus-menu-mobile ul{
        display: none;
    }
/* перший рівень */
    .levus-menu-mobile ul.block{
        display: block;
        position: relative;
        top: 38px;
        width: 100%;
    }
    .levus-menu-mobile li.parent{
        overflow: hidden;
    }
/* вкладений блок до того моменту, коли клікають на хрестик у батьківському */
        .levus-menu-mobile li.parent > ul{
            display: none!important;
        }

/* вкладені рівні */
    .levus-menu-mobile li.parent > ul.open{
        display: block!important;
        position: relative!important;
    }
/* мобільний лінк має бути на всю ширину */
    .levus-menu-mobile ul li a{
        width: 100%;
    }
/* відступи у вкладених пунктів */
        .levus-menu-mobile ul li li a{
            padding-left: 20px;
        }
            .levus-menu-mobile ul li li li a{
                padding-left: 40px;
            }
                .levus-menu-mobile ul li li li li a{
                    padding-left: 60px;
                }

/* відміняємо 100% відступ на мобілках */
            .levus-menu-mobile ul li li:hover ul{
                position: relative!important;
                right: 0;
            }


/**/
